<p id="notice"><%= notice %></p>

<h2 style="margin-top: 40px;">All Keywords</h2>
<%= link_to 'New Keyword', new_keyword_path, :class=>"btn btn-primary", :style=>"float:right" %>
<% cache 'keywords_home_table', skip_digest: true do %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>Word</th>
          <th>Tweets</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @keywords.each do |keyword| %>
          <tr>
              <td><% if keyword.image? %><%= link_to image_tag( keyword.image.thumb.url), keyword %><% end %></td>  
            <td><%= keyword.word %></td>
            <td><%= keyword.tweets.count() %></td>
              <td><%= link_to 'Show', keyword, class: 'btn btn-success' %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_keyword_path(keyword), class: 'btn btn-primary' %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Destroy', keyword, class: 'btn btn-danger',method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
<br>
