<p id="notice"><%= notice %></p>
<%= image_tag(@keyword.image.thumb.url, :class => 'img-circle')if @keyword.image? %>
<%= @keyword.word.capitalize %>

<h2>Latest Tweets (<%= @keyword.tweets.count %>)</h2>
<table class="table table-hover">
    <% @tweets.each do |tweet| %>
        <tr>
            <td><%= image_tag("#{tweet.user_image_url}", class: "img-circle") %><br><%= tweet.user_name %></td>
            <td style="padding-top: 2%;"><%= tweet.text %></td>
        </tr>
    <%end%>
</table>
<div class="pagination">
    <%= will_paginate @tweets %>
</div>
<div>
    <%= link_to 'Edit', edit_keyword_path(@keyword), :class => 'btn btn-link' %> |
    <%= link_to 'Back', keywords_path, :class => 'btn btn-link' %>
</div>

