<!DOCTYPE html>
<html>
<head>
  <title>Tweetscope</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="padding:10px;">
            <div class="navbar-left" style="margin-left: 2%;">
                <div id="logo-container">
                    <%= inline_svg 'iconmonstr-twitter-icon.svg', :class => 'twitter' %>  
                    <a href="<%= root_path %>" class="tweetscope">Tweet<span>Scope</span></a>
                </div>
            </div>
            <div class="navbar-right" style="margin-right: 2%;">
                <div style="float:right;">
                    <ul class="nav nav-pills pull-right">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
    </nav>
    <div class="content">    
      <%= yield %>
    </div>
    <div class="footer">
      Tweetscope for Heroku Course
    </div>
</body>
</html>
